@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	margin: 0; 
	padding: 0; 
	background-color: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
  
  
}
a{
	text-decoration: none;
}



.post-box-position{
	text-align: center;
	display: flex;
/*    flex-direction: column;*/
    justify-content: flex-start;
    justify-content: center
}

.post-box{
	box-shadow: 4px 4px 48px rgba(0, 0, 0, 0.10);
/*    background-color: red;*/
    height:700px;
    width:70%;
    border-radius:20px;
    transition: 0.7s;
    display: flex;
    text-align: center;
    padding: 20px;
}	





/*.post-box:hover{
	width:70%;
}*/



.post-box-inform{
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.post-image{

    width:650px;
    height:100%;
	border-radius:20px;


}

.post-box-about{
	margin-left:20px;
	border-radius:20px;
	width: 100%;


}

.post-box-place-text{
/*	background-color: green;*/
	padding:30px;
	height:40%;
	text-align:left;
}


.post-box-user-image{
	width:50px;
	height:50px;
	border-radius: 100%; 

}


.post-box-user-text{
	margin:0;
	color:black;
}



.post-box-user-subs{
	font-weight: lighter;

}


.post-box-text-leveler{
	display: flex;
}



.post-box-title{
/*	width:50%;*/
	word-wrap:break-word;
	font-weight:bold;
	margin-bottom:10px;

}

.post-box-descript{
/*	width:50%;*/
	word-wrap:break-word;
	margin-bottom: 20px;
}



.post-box-user{
	margin-left:10px;
    justify-content: flex-start;

}




/*.button-like{
	border-radius:50px;
	width:100px;
	padding:15px ;
}

.like-div{

	text-align: center;
	display: flex;
    flex-direction: row;
  
    
}


.button-like:hover{
	background-color:grey;

}	


*/
.block {
  width: 60px;
  height: 40px;
  background:  #f2f2f2;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  cursor: pointer;
  transition: all 0.25s ease-out;
  margin: 0 auto;
  margin-top:5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
/*  justify-content: space-between;*/
/*  padding: 0.2em ;*/
  gap:0.1em;
}
.block .heart-icon {
  user-select: none;
  fill: transparent;
  transition: transform 0.25s ease-out;
}

.block .heart-icon .fill-color-shape {
  fill: transparent;
}

.block .heart-icon.isLiked {
  filter: drop-shadow(0 3px 5px #c44133);
}

.block .heart-icon.isLiked .fill-color-shape {
  transition: fill 0.5s linear;
  fill: #e74c3c;
}

.block .heart-icon:hover {
    transform: translate(-1%, calc(-1% - 3px)) scale(1.03);
}
.block .number-of-likes {
  

  font-size: 15px;
  user-select: none;
  color: #292d34;
}