<!DOCTYPE html>
{% load static %}
<html>

  <head>

    <meta charset ="UTF-8">
    <title>Trippix home page </title>
     <link rel="stylesheet" type="text/css" href="{% static 'styles/style6.css' %}">
    <link rel="shortcut icon"  href="{% static 'images/logo.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style-navigation-bar.css' %}"/>


  </head>


  <body>

    <div class = "nav-bar-mrg">
      <div class = "top-nav-bar-div">
        <a href = "" class = "top-nav-bar-logo"><img class="top-nav-bar-logo" src="{% static 'images/logo.png' %}" alt="" /></a>


         <ul class = "top-nav-bar-ul">
          <a class = "top-nav-bar-text"href = "{% url 'home' %}"><li class = "top-nav-bar-li">Home</li></a>
          <a class = "top-nav-bar-text" href = "{% url 'add'  %}"><li class = "top-nav-bar-li">Add</li></a>
        </ul> 

        <div class="top-nav-bar-search">
          <input type="search" class="top-nav-bar-search-term" placeholder="Search">
          <!-- <button type="submit" class="searchButton"> </button> -->
        </div>


        <div class = "top-nav-bar-notification" >
          <a href = ""> <img class="top-nav-bar-notification-image" src="{% static 'images/notification.png' %}" alt="" />
          </a> 
        </div>

        <div class = "top-nav-bar-user">
          <a  href = ""><img class="top-nav-bar-user-image" src="{% static 'images/user-image.jpg' %}" alt="" />
          </a>
        </div> 

        
      </div>
    </div>

    <div  class = "post-box-position"> 
      <div class = "post-box">
        <div class = "post-box-inform" > <img class="post-image" src="{{ post_html.photo.url }}" alt=""/></div>
        <div class = "post-box-about">
          <div class = "post-box-place-text" >
            
            <div class = "post-box-title">
              <font size=5px>{{ post_html.title }}</font>
            </div>

            <div class = "post-box-descript">
              <font size=3px> 
                {{ post_html.descriptor }}
              </font>
              <br>
              <br>
              <font size=3px>
                {{ post_html.tags }}
              </font>
            </div>




             <a  href = ""><div class = "post-box-text-leveler">
              <img class="post-box-user-image"  src="{% static 'images/user-image.jpg' %}" alt="" />
                <div class = "post-box-user">
                  <h3 class = "post-box-user-text">{{ post_html.author.logging }}</h3>
                  <h5 class = "post-box-user-text post-box-user-subs">1000 subscribers</h5> 
                  {% if user.is_authenticated %}
    {% if post_html.author == user %}
        <!-- Кнопка удаления поста -->
        <form method="POST" action="{% url 'post' post_html.id %}">
            {% csrf_token %}
            <button type="submit">Удалить</button>
        </form>
    {% else %}
        <!-- Кнопка лайка -->
        <form method="POST" action="{% url 'post' post_html.id %}">
            {% csrf_token %}
            <button type="submit">Лайкнуть</button>
        </form>
    {% endif %}
{% else %}
    <!-- Обычное отображение поста, без возможности лайка или удаления -->
{% endif %}
                </div>

              </div></a>
              
           </div>
        </div>

        <div> </div>


      </div>
    </div>



    <div>
      
    </div>
  
    </body>





</html>