<!DOCTYPE html>
{% load static %}
<html>

  <head>

    <meta charset ="UTF-8">
    <title>Trippix home page </title>
     <link rel="stylesheet" type="text/css" href="{% static 'styles/style5.css' %}">
    <link rel="shortcut icon"  href="{% static 'images/logo.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style-navigation-bar.css' %}"/>

  </head>



  <body>

     <div class = "nav-bar-mrg">
      <div class = "top-nav-bar-div">
        <a href = "{% url 'home' %}" class = "top-nav-bar-logo"><img class="top-nav-bar-logo" src="{% static 'images/logo.png' %}" alt="" /></a>


        <ul class = "top-nav-bar-ul">
          <li class = "top-nav-bar-li"><a class = "top-nav-bar-text"href = "{% url 'home' %}">Home</a></li>
          <li class = "top-nav-bar-li"><a class = "top-nav-bar-text" href = "{% url 'add'  %}">Add</a></li>
        </ul> 


        <div class="top-nav-bar-search">
          <input type="search" class="top-nav-bar-search-term" placeholder="Search">
          <!-- <button type="submit" class="searchButton"> </button> -->
        </div>


        <div class = "top-nav-bar-notification" >
          <a href = ""> <img class="top-nav-bar-notification-image" src="{% static 'images/notification.png' %}" alt="" />
          </a> 
        </div>

        <div class = "top-nav-bar-user">
          <a  href = "{% url 'userpage'  %}"><img class="top-nav-bar-user-image" src="{% static 'images/user-image.jpg' %}" alt="" />
          </a>
        </div> 

        
      </div> 
    </div>



<!--    <div class = "bar-to-add-image"> -->
<!--      <div class ="card-add-image">-->
        <div class="bar-to-add-image">
             <div class="card-add-image">
                 <form method="POST" action="{% url 'add' %}" enctype="multipart/form-data">
                     {% csrf_token %}
                    <input type="file" name="image">
                 </form>
            </div>



        <form method="POST" action="{% url 'add' %}">
        {% csrf_token %}
      <div class = "div-all-input">
        <div class = "input-div">
        <input  class="input-term input-term-title" placeholder="Title" id="title" name="title" required>
      </div>

      <div class = "input-div">
        <textarea class="input-term input-term-description" placeholder="Description" id="descriptor" name="descriptor" required></textarea>
      </div>

      <div class = "input-div">
        <textarea class="input-term input-term-tegs" placeholder="Add tegs" id="tegs" name="tegs" required></textarea>
      </div>


      <div class = "input-div input-div-button-palce">
        <button type="submit" class="add-button" >Publish</button>
      </div>

      </div>

    </div>
    </form>


    </body>





</html>