<!DOCTYPE html>
{% load static %}
<html>

  <head>
    <meta charset ="UTF-8">
    <title>Trippix home page </title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style4.css' %}">
    <link rel="shortcut icon"  href="{% static 'images/logo.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style-navigation-bar.css' %}"/>

  </head>

  <script>

    function setact( elem ){

    // Получаем id кнопки
    var btnId = elem.id;


    // Получаем все элементы с классом "content"
    var contents = document.getElementsByClassName("content");

    // Проходим по всем элементам с классом "content"
    for (var i = 0; i < contents.length; i++) {
        // Скрываем все элементы с классом "content"
        contents[i].style.display = "none";
    }

    // Отображаем нужный контент в зависимости от id кнопки
    document.getElementById("content" + btnId).style.display = "block";


    var btnEl = document.querySelectorAll('.button-feed-tab');
    for (var i = 0; i < btnEl.length; i++) {
        btnEl[i].classList.remove('button-feed-tab-swap');
    }
    elem.classList.add('button-feed-tab-swap');
    return;
    }

  </script>

  <body>

     <div class = "nav-bar-mrg">
      <div class = "top-nav-bar-div">
        <a href = "{% url 'home' %}" class = "top-nav-bar-logo"><img class="top-nav-bar-logo" src="{% static 'images/logo.png' %}" alt="" /></a>


         <ul class = "top-nav-bar-ul">
          <a class = "top-nav-bar-text"href = "{% url 'home' %}"><li class = "top-nav-bar-li">Home</li></a>
          <a class = "top-nav-bar-text" href = "{% url 'add'  %}"><li class = "top-nav-bar-li">Add</li></a>
        </ul> 

        <div class="top-nav-bar-search">
          <input type="search" class="top-nav-bar-search-term" placeholder="Search">
          <!-- <button type="submit" class="searchButton"> </button> -->
        </div>


        <div class = "top-nav-bar-notification" >
          <a href = ""> <img class="top-nav-bar-notification-image" src="{% static 'images/notification.png' %}" alt="" />
          </a> 
        </div>

        <div class = "top-nav-bar-user">
          <a  href = ""><img class="top-nav-bar-user-image" src="{% static 'images/user-image.jpg' %}" alt="" />
          </a>
        </div> 

        
      </div>
    </div>




    <div class = "user-div">
      <div>
        <img class = "prof-user-img" src="{% static 'images/user-image.jpg' %}" alt="" />
       </div>
       

        <b class = "username-text" >{{ username }}</b>

        <div class = "sub-user-div">
          <a class = "sub-user-text"href=""><b style="font-weight:normal;" >Подписчики 10</b></a>
          <b style = "margin-left:10px; margin-right:10px;">·</b>
          <a class = "sub-user-text"href=""><b style="font-weight:normal;">Подписки 10</b></a>
        </div>

        <div class = "set-user-div">
          <button class = "button-opt-user-div">Поделиться</button>
          <button class = "button-opt-user-div">Изменить профиль</button>
        </div>


    </div>


<div class="feed-tab">
     <button id = "1" onclick = "setact(this)" class = "button-feed-tab" href= ""> <img class = "image-feed-tab"  src="{% static 'images/publication.png' %}"> </button>
    <button id = "2" onclick = "setact(this)" class = "button-feed-tab" href= ""><img class = "image-feed-tab" src="{% static 'images/like.png' %}"></button>
    <button id = "3" onclick = "setact(this)" class = "button-feed-tab" href= ""><img class = "image-feed-tab " src="{% static 'images/bookmark.png' %}"></button>
</div>

<div id="content1" class="content">
    <div class="table-div">
            {%  for post in user_posts  %}
                {% if forloop.counter0|divisibleby:4 and not forloop.first %}
                    </div><div class="table-div">
                {% endif %}
                <a href = "{% url 'post' post_id=post.id %}" style = "text-decoration:none;">
                <div class="card">
                    <img class="card-image" src="{{ post.photo.url }}" alt="" />
                <div class="card-about">
                    <img class="card-image-user" src="{{ post.card_image_user }}" alt="" />
                    <b class="card-text">{{ post.title }}</b>

                </div>
                </div>
            </a>
          {% endfor %}
        </div>
</div>
<div id="content2" class="content" style="display:none;">Содержимое для кнопки 2</div>
<div id="content3" class="content" style="display:none;">Содержимое для кнопки 3</div>

    </body>


</html>